html
{
	background: #111111 url("../images/makemetal-background.jpg") no-repeat center top scroll;
}

#page
{
	z-index: 1;
	width: 801px;
	min-height: 1042.8px;
	margin-left: auto;
	margin-right: auto;
	padding: 6px 99px 4.2000000000000455px 100px;
}

#pu103-3
{
	width: 0.01px;
	position: relative;
}

#u103-3
{
	z-index: 2;
	width: 777px;
	min-height: 23px;
	padding-top: 5px;
	padding-right: 23px;
	margin-right: -10000px;
	margin-top: 136px;
}

#u794
{
	z-index: 5;
	width: 460px;
	margin-right: -10000px;
	left: 167px;
}

#menuu221
{
	z-index: 7;
	width: 277px;
	margin-right: -10000px;
	margin-top: 138px;
}

#u236
{
	width: 91px;
	min-height: 28px;
	margin-right: -10000px;
}

#u237
{
	width: 91px;
	padding-bottom: 11px;
}

#u237:hover
{
	margin: 0px;
}

#u237:active
{
	margin: 0px;
}

#u238-4
{
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u237:hover #u238-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u237:active #u238-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u250
{
	width: 91px;
	min-height: 28px;
	margin-right: -10000px;
	left: 93px;
}

#u253
{
	width: 91px;
	padding-bottom: 11px;
}

#u237.MuseMenuActive,#u253:hover
{
	margin: 0px;
}

#u253:active
{
	margin: 0px;
}

#u254-4
{
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u237.MuseMenuActive #u238-4,#u253:hover #u254-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u253:active #u254-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u229
{
	width: 91px;
	min-height: 28px;
	margin-right: -10000px;
	left: 186px;
}

#u230
{
	width: 91px;
	padding-bottom: 11px;
}

#u253.MuseMenuActive,#u230:hover
{
	margin: 0px;
}

#u230:active
{
	margin: 0px;
}

#u230.MuseMenuActive
{
	margin: 0px;
}

#u233-4
{
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u253.MuseMenuActive #u254-4,#u230:hover #u233-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u230:active #u233-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u230.MuseMenuActive #u233-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u965
{
	z-index: 26;
	width: 800px;
	margin-right: -10000px;
	margin-top: 168px;
}

#pu600
{
	width: 0.01px;
	margin-left: 1px;
	position: relative;
}

#u600
{
	z-index: 32;
	width: 799px;
	border-width: 1px;
	border-style: solid;
	padding-bottom: 652px;
	position: relative;
	margin-right: -10000px;
}

.content
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #CCCCCC;
}

#u783
{
	z-index: 33;
	width: 615px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 43px;
}

#u601-27
{
	z-index: 34;
	width: 721px;
	min-height: 273px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 44px;
}

#u601-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u601-5  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u601-6
{
	font-size: 14px;
	color: #000000;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
}

#u601-8,#u601-14,#u601-17,#u601-20,#u601-25
{
	font-weight: bold;
}

#u781
{
	z-index: 61;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 243px;
	left: 44px;
}

#u106-4
{
	z-index: 28;
	width: 310px;
	min-height: 15px;
	margin-left: 245px;
	margin-top: 10px;
}

body
{
	padding-bottom: 8px;
}

#page .verticalspacer
{
	clear: both;
}

