html
{
	background: #111111 url("../images/makemetal-background.jpg") no-repeat center top scroll;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 1052.5500000000002px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 6px;
	margin-bottom: -7px;
}

#pu103-3
{
	width: 0.01px;
	margin-left: 100px;
	position: relative;
}

#u103-3
{
	z-index: 2;
	width: 777px;
	min-height: 23px;
	padding-top: 5px;
	padding-right: 23px;
	margin-right: -10000px;
	margin-top: 136px;
}

#u794
{
	z-index: 5;
	width: 460px;
	margin-right: -10000px;
	left: 167px;
}

#u965
{
	z-index: 7;
	width: 800px;
	margin-right: -10000px;
	margin-top: 168px;
}

.banner
{
	background-image: url("../images/banner.jpg");
}

#menuu999
{
	z-index: 9;
	width: 400px;
	margin-right: -10000px;
	margin-top: 138px;
}

#u1056
{
	width: 98px;
	min-height: 28px;
	margin-right: -10000px;
}

#u1057
{
	width: 98px;
	padding-bottom: 11px;
}

#u1057:hover
{
	margin: 0px;
}

#u1057:active
{
	margin: 0px;
}

#u1058-4
{
	width: 98px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u1057:hover #u1058-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1057:active #u1058-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1035
{
	width: 98px;
	min-height: 28px;
	margin-right: -10000px;
	left: 100px;
}

#u1036
{
	width: 98px;
	padding-bottom: 11px;
}

#u1057.MuseMenuActive,#u1036:hover
{
	margin: 0px;
}

#u1036:active
{
	margin: 0px;
}

#u1038-4
{
	width: 98px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u1057.MuseMenuActive #u1058-4,#u1036:hover #u1038-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1036:active #u1038-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1042
{
	width: 99px;
	min-height: 28px;
	margin-right: -10000px;
	left: 200px;
}

#u1043
{
	width: 99px;
	padding-bottom: 11px;
}

#u1036.MuseMenuActive,#u1043:hover
{
	margin: 0px;
}

#u1043:active
{
	margin: 0px;
}

#u1044-4
{
	width: 99px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u1036.MuseMenuActive #u1038-4,#u1043:hover #u1044-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1043:active #u1044-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1049
{
	width: 99px;
	min-height: 28px;
	margin-right: -10000px;
	left: 301px;
}

#u1052
{
	width: 99px;
	padding-bottom: 11px;
}

#u1043.MuseMenuActive,#u1052:hover
{
	margin: 0px;
}

#u1052:active
{
	margin: 0px;
}

#u1052.MuseMenuActive
{
	margin: 0px;
}

#u1055-4
{
	width: 99px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u1043.MuseMenuActive #u1044-4,#u1052:hover #u1055-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1052:active #u1055-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1052.MuseMenuActive #u1055-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#pu595
{
	width: 0.01px;
	margin-left: 101px;
	position: relative;
}

#u595
{
	z-index: 41;
	width: 799px;
	border-width: 1px;
	border-style: solid;
	position: relative;
	margin-right: -10000px;
}

.content
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #CCCCCC;
}

#u596-175
{
	z-index: 42;
	width: 721px;
	min-height: 2150px;
	margin-bottom: -59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 41px;
}

#u747
{
	z-index: 55;
	width: 399px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1124
{
	z-index: 60;
	width: 328px;
	border-width: 10px;
	border-style: solid;
}

.photo-right
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-width: 10px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
}

#u750
{
	z-index: 81;
	width: 399px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1136
{
	z-index: 86;
	width: 328px;
	border-width: 10px;
	border-style: solid;
}

#u753
{
	z-index: 111;
	width: 399px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1149
{
	z-index: 116;
	width: 329px;
	border-width: 10px;
	border-style: solid;
}

#u756
{
	z-index: 146;
	width: 399px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1163
{
	z-index: 151;
	width: 327px;
	border-width: 10px;
	border-style: solid;
}

#u596-94,#u596-99,#u596-104
{
	font-weight: bold;
}

#u759
{
	z-index: 192;
	width: 399px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1210
{
	z-index: 197;
	width: 327px;
	border-width: 10px;
	border-style: solid;
}

#u596-7,#u596-28,#u596-53,#u596-83,#u596-124,#u596-152
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u596-7  span,#u596-28  span,#u596-53  span,#u596-83  span,#u596-124  span,#u596-152  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u596-8,#u596-29,#u596-54,#u596-84,#u596-125,#u596-153
{
	font-size: 1px;
	line-height: 0px;
}

#u762
{
	z-index: 225;
	width: 399px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1127,#u1142,#u1155,#u1169,#u1216,#u1200
{
	float: right;
	margin-left: 10px;
}

#u1194
{
	z-index: 230;
	width: 328px;
	border-width: 10px;
	border-style: solid;
}

#u1124_img,#u1136_img,#u1149_img,#u1163_img,#u1210_img,#u1194_img
{
	vertical-align: top;
}

#u596-164,#u596-165,#u596-166,#u596-167,#u596-168,#u596-169,#u596-170,#u596-171,#u596-172,#u596-173
{
	font-size: 14px;
	color: #FFFFFF;
	font-weight: normal;
}

#u1227
{
	z-index: 248;
	background: url("../images/u1227_states.png") no-repeat 0px 0px;
	position: relative;
	width: 731px;
	margin-right: -10000px;
	margin-top: 2054px;
	left: 38px;
}

#u1227_states
{
	height: 56px;
	width: 731px;
	vertical-align: top;
}

#u1227:hover #u1227_states
{
	background: url("../images/u1227_states-r.png") no-repeat 0px 0px;
}

#u106-7
{
	z-index: 34;
	width: 336px;
	min-height: 61px;
	margin-left: 340px;
	margin-top: 75px;
}

body
{
	padding-bottom: 8px;
}

#page .verticalspacer
{
	clear: both;
}

