html
{
	background: #111111 url("../images/makemetal-background.jpg") no-repeat center top scroll;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 1169px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 6px;
	margin-bottom: -8px;
}

#pu103-3
{
	width: 0.01px;
	margin-left: 100px;
	position: relative;
}

#u103-3
{
	z-index: 2;
	width: 777px;
	min-height: 23px;
	padding-top: 5px;
	padding-right: 23px;
	margin-right: -10000px;
	margin-top: 136px;
}

#u794
{
	z-index: 5;
	width: 460px;
	margin-right: -10000px;
	left: 167px;
}

#u965
{
	z-index: 7;
	width: 800px;
	margin-right: -10000px;
	margin-top: 168px;
}

.banner
{
	background-image: url("../images/banner.jpg");
}

#menuu999
{
	z-index: 9;
	width: 400px;
	margin-right: -10000px;
	margin-top: 138px;
}

#u1056
{
	width: 98px;
	min-height: 28px;
	margin-right: -10000px;
}

#u1057
{
	width: 98px;
	padding-bottom: 11px;
}

#u1057:hover
{
	margin: 0px;
}

#u1057:active
{
	margin: 0px;
}

#u1058-4
{
	width: 98px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u1057:hover #u1058-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1057:active #u1058-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1035
{
	width: 98px;
	min-height: 28px;
	margin-right: -10000px;
	left: 100px;
}

#u1036
{
	width: 98px;
	padding-bottom: 11px;
}

#u1057.MuseMenuActive,#u1036:hover
{
	margin: 0px;
}

#u1036:active
{
	margin: 0px;
}

#u1038-4
{
	width: 98px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u1057.MuseMenuActive #u1058-4,#u1036:hover #u1038-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1036:active #u1038-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1042
{
	width: 99px;
	min-height: 28px;
	margin-right: -10000px;
	left: 200px;
}

#u1043
{
	width: 99px;
	padding-bottom: 11px;
}

#u1036.MuseMenuActive,#u1043:hover
{
	margin: 0px;
}

#u1043:active
{
	margin: 0px;
}

#u1044-4
{
	width: 99px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u1036.MuseMenuActive #u1038-4,#u1043:hover #u1044-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1043:active #u1044-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1049
{
	width: 99px;
	min-height: 28px;
	margin-right: -10000px;
	left: 301px;
}

#u1052
{
	width: 99px;
	padding-bottom: 11px;
}

#u1043.MuseMenuActive,#u1052:hover
{
	margin: 0px;
}

#u1052:active
{
	margin: 0px;
}

#u1052.MuseMenuActive
{
	margin: 0px;
}

#u1055-4
{
	width: 99px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u1043.MuseMenuActive #u1044-4,#u1052:hover #u1055-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1052:active #u1055-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1052.MuseMenuActive #u1055-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#pu357
{
	width: 0.01px;
	margin-left: 101px;
	position: relative;
}

#u357
{
	z-index: 41;
	width: 724px;
	border-width: 1px;
	border-style: solid;
	position: relative;
	margin-right: -10000px;
	padding: 268px 35px 32.096465966760434px 40px;
}

.content
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #CCCCCC;
}

#u610
{
	z-index: 64;
	width: 720px;
	height: 88px;
	border-width: 1px;
	border-style: solid;
	margin-left: 1px;
	position: relative;
}

.widget_backbar
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #555555;
}

#pu361-18
{
	width: 0.01px;
	margin-top: 32px;
	position: relative;
}

#u361-18
{
	z-index: 45;
	width: 406px;
	min-height: 299px;
	position: relative;
	margin-right: -10000px;
}

#pu361-17
{
	width: 406px;
	position: relative;
	margin-right: -10000px;
}

#u777
{
	z-index: 122;
	width: 382px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#u779
{
	z-index: 71;
	width: 295px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 430px;
}

#u501
{
	z-index: 63;
	width: 482px;
	min-height: 363px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 118px;
	margin-top: 19px;
	position: relative;
}

#u358
{
	z-index: 43;
	background: url("../images/u358_states.png") no-repeat 0px 0px;
	position: relative;
	width: 731px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 41px;
}

#u358_states
{
	height: 56px;
	width: 731px;
	vertical-align: top;
}

#u358:hover #u358_states
{
	background: url("../images/u358_states-r.png") no-repeat 0px 0px;
}

#u528
{
	z-index: 65;
	position: relative;
	width: 230px;
	margin-right: -10000px;
	margin-top: 93px;
	left: 54px;
}

#u533
{
	z-index: 67;
	position: relative;
	width: 231px;
	margin-right: -10000px;
	margin-top: 93px;
	left: 291px;
}

#u538
{
	z-index: 69;
	position: relative;
	width: 231px;
	margin-right: -10000px;
	margin-top: 93px;
	left: 528px;
}

#u528_img,#u533_img,#u538_img
{
	display: block;
	vertical-align: top;
}

#u743-9
{
	z-index: 72;
	width: 295px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	margin-top: 391px;
	left: 468px;
}

#u361-7,#u743-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u361-7  span,#u743-5  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u361-8,#u743-6
{
	font-size: 18px;
	color: #000000;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
}

#u743-7
{
	font-size: 18px;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
}

#menuu620
{
	z-index: 81;
	width: 292px;
	position: relative;
	margin-right: -10000px;
	margin-top: 433px;
	left: 471px;
}

#u686
{
	width: 292px;
	position: relative;
}

#u687
{
	width: 292px;
	min-height: 57px;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
}

#u687:hover
{
	background-color: #AAAAAA;
	margin: 0px -10000px 0px 0px;
}

#u687:active
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

.featurebox
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u689-9
{
	width: 292px;
	min-height: 57px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #F53333;
	font-size: 14px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u687:hover #u689-9
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	margin: 0px -10000px 0px 0px;
}

#u687:active #u689-9
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	margin: 0px -10000px 0px 0px;
}

#u729:hover
{
	min-height: 0px;
	margin: 0px;
}

#u726
{
	z-index: 90;
	width: 36px;
}

#u703
{
	width: 292px;
	min-height: 57px;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
}

#u687.MuseMenuActive,#u703:hover
{
	background-color: #AAAAAA;
	margin: 0px -10000px 0px 0px;
}

#u703:active
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u704-8
{
	width: 292px;
	min-height: 57px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #F53333;
	font-size: 14px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u703:hover #u704-8
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	margin: 0px -10000px 0px 0px;
}

#u703:active #u704-8
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	margin: 0px -10000px 0px 0px;
}

#u729:active,#u733:hover
{
	min-height: 0px;
	margin: 0px;
}

#u730
{
	z-index: 104;
	width: 36px;
}

#u700,#u693
{
	width: 292px;
	margin-top: 2px;
	position: relative;
}

#u696
{
	width: 292px;
	min-height: 57px;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
}

#u703.MuseMenuActive,#u696:hover
{
	background-color: #AAAAAA;
	margin: 0px -10000px 0px 0px;
}

#u696:active
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u696.MuseMenuActive
{
	background-color: #AAAAAA;
	margin: 0px -10000px 0px 0px;
}

#u697-8
{
	width: 292px;
	min-height: 57px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #F53333;
	font-size: 14px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u696:hover #u697-8
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	margin: 0px -10000px 0px 0px;
}

#u696:active #u697-8
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	margin: 0px -10000px 0px 0px;
}

#u687.MuseMenuActive #u689-9,#u703.MuseMenuActive #u704-8,#u696.MuseMenuActive #u697-8
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	margin: 0px -10000px 0px 0px;
}

#u689,#u704,#u697
{
	font-size: 1px;
	line-height: 0px;
}

#u733:active,#u737:hover
{
	min-height: 0px;
	margin: 0px;
}

#u737:active
{
	min-height: 0px;
	margin: 0px;
}

#u734
{
	z-index: 117;
	width: 36px;
}

#u726_img,#u730_img,#u734_img
{
	vertical-align: bottom;
}

#u689-6,#u704-5,#u697-5
{
	color: #000000;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u106-7
{
	z-index: 34;
	width: 336px;
	min-height: 61px;
	margin-left: 340px;
	margin-top: 18px;
}

body
{
	padding-bottom: 13px;
}

#page .verticalspacer
{
	clear: both;
}

